@import "tailwindcss";

/* Theme variables */
:root {
  --color-primary: #d4a017;
  --color-lightBg: #f2f2f2;
  --color-darkBg: #2e2e2e;
  --color-hoverDark: #2c2c2c;
  --color-cardHoverBorder: #2b1f0f;
}

/* Dark mode */
.dark {
  --color-lightBg: #2e2e2e;
  --color-darkBg: #f2f2f2;
}

/* Global styles */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-lightBg);
  color: var(--color-darkBg);
}

/* Custom reusable components */
@layer components {
  .btn-primary {
    @apply px-5 py-2 bg-[var(--color-primary)] text-black text-sm md:text-base font-medium rounded-md transition-all duration-300 ease-in-out transform;
  }

  .btn-primary:hover {
    @apply scale-105 opacity-90;
  }
}
